/* Los cards */
.card {
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    border-radius: 45px;
}

.card:hover {
    background-color: #0b153e;
}
.card__header {
    padding: 20px;
}
.card__action {
    padding: 35px;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.card__action > *:not(:last-child) {
    margin-right: 15px;
}
.card__aside {
    padding-left: 20px;
}
.card__time {
    color: #afa7af;
}
.card__aside figure {
}
.card__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.card__header > * {
    margin: 0;
}
.card__header {
    text-align: left;
    color: #afa7af;
}

.card_icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.card_icon .MuiSvgIcon-root {
    color: white;
}
